# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.env
!.env.example

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
